@media (min-width:320px) {
  .wrap {
    display: block;
    position: absolute;
    font-size: 120%;
  }
}

@media (min-width:481px) {
  .wrap {
    display: block;
    position: absolute;
    font-size: 140%;
  }
}

@media (min-width:641px) {}

.wrap {
  display: block;
  position: absolute;
  font-size: 160%;
}
}

@media (min-width:961px) {

  .wrap {
    display: block;
    position: absolute;
    font-size: 180%;
  }
}

@media (min-width:1025px) {
  .wrap {
    display: block;
    position: absolute;
    font-size: 200%;
  }
}

@media (min-width:1281px) {
  .wrap {
    display: block;
    position: absolute;
    font-size: 220%;
  }
}
